<!--
   Record victoria robot data automatically in two separate rosbags: 
   - record_camera: camera images and depth information, 
   - record_sensors: IMU, bumper and robot position
   - record_logs: rosout
   This assume that the robot is on and running
-->

<launch>
  <arg name="record_camera" default="true" />
  <arg name="record_sensors" default="true" />
  <arg name="record_logs" default="true" />

  <node pkg="rosbag" type="record" name="rosbag_record_camera"
       args="record -o /tmp/victoria-cameras /camera/color/image_raw /camera/color/camera_info /camera/depth/image_raw /camera/depth/points /camera/ir/camera_info /camera/ir/image_raw /camera/ir2/camera_info /camera/ir2/image_raw /compressed_image"
       if="$(arg record_cameras)" />

 <node pkg="rosbag" type="record" name="rosbag_record_sensors"
       args="record -o /tmp/victoria-sensors /imu_raw /odom_2d_raw /bumper_debug /encoder_debug /imu /odom /bumper /encoder /joint_states /tf /tf_static"
       if="$(arg record_sensors)" />

 <node pkg="rosbag" type="record" name="rosbag_record_logs"
       args="record -o /tmp/victoria-rosout /rosout /rosout_agg"
       if="$(arg record_logs)" />

</launch>
